<div class="login-modal" id="loginModal">
  <div class="login-overlay"></div>
  <div class="login-view">
    <div class="box-wrap">
      <h1 class="logo">NFT ROOM</h1>
      <p class="label">
        ウォレットを使って<br class="sp-only" />ログインしよう！
      </p>
      <button id="enterRoomButton" class="enter-button">ログイン</button>
      <p class="eth-err"></p>

      <div id="fetchedShow" style="display: none">
        <p class="text-center mb20" style="color: #fff">
          あなたのNFTコレクション(ETH)
        </p>
        <ul class="nfts">
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
