<% var path='.' ; %>
<!DOCTYPE html>
<html lang="ja">
  <!DOCTYPE html>
  <html lang="ja">
    <%- include('./common/_head', {path: path}); -%>
    <body>
      <main class="main">
        <%- include('./common/_loginModal', {path: path}); -%>
      </main>

      <script src="./javascript/walletConnect.js"></script>
    </body>
  </html>
</html>
